.search-box {
    position: relative;
    width: 100%;
    max-width: 360px;
    height: 60px;
    border: red;
    border-radius: 30px; /* Initial rounded corners */
    margin: 0 auto;
    overflow: hidden;
    transition: box-shadow 0.4s ease; /* Optional shadow for focus */
}

.search-box.focused {
    box-shadow: inset 0 -2px 0 0 white; /* Underline effect #FFFFFF*/
}

.search-icon, .go-icon {
    position: absolute;
    top: 0;
    height: 60px;
    width: 86px;
    line-height: 61px;
    text-align: center;
}

.search-icon {
    left: 0;
    pointer-events: none;
    font-size: 1.22em;
}

.go-icon {
    right: 0;
    font-size: 1.38em;
    opacity: 0;
    transform: rotate(45deg);
    transition: opacity 190ms ease-out, transform 260ms ease;
}

.go-in {
    opacity: 1;
    transform: rotate(0);
}

#search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* No border on input */
    background: transparent; /* No background */
    padding: 0 68px; /* Adjust padding as needed */
    color: #FFFFFF;
    font-size: 1.32em;
    outline: none;
}

#search::placeholder {
    color: #FFFFFF; /* Placeholder color */
}
